<div class="footer " role="banner">
    <span>
        Copyrights © siva. All rights reserved.
    </span>
  </div>
  <!-- <div>
      <label>Message</label>
      <input type="text" [(ngModel)]="footerComponentValue" (change)="updateMessage()">
  </div> -->