<div>
    <input type="button" value="first" (click)="moveToFirst()">
    <input type="button" value="Second" (click)="moveToSecond()">
</div>
<div *ngIf="!showSummary" #first>
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="example-container">
            <div class="row col-md-12 m-t-20">
                <div class="col-md-2"><label appHighlight [highlightColor]="'#0099cc'">Name</label></div>
                <div class="col-md-4"> <input type="text" [(ngModel)]="empdata.name" placeholder="Enter The Name"></div>
            </div>
            <div class="row col-md-12 m-t-20">
                <div class="col-md-2"> <label appHighlight>UserName</label></div>
                <div class="col-md-4"> <input type="text" [(ngModel)]="empdata.username"
                        placeholder="Enter The User Name">
                </div>
            </div>
            <div class="row col-md-12 m-t-20">
                <div class="col-md-2"> <label>Age</label></div>
                <div class="col-md-4"> <input type="number" [(ngModel)]="empdata.age" placeholder="Enter The Age"></div>
            </div>
            <div class="row col-md-12 m-t-20">
                <div class="col-md-2"> <label>
                        Email
                    </label></div>
                <div class="col-md-4"> <input type="email" [(ngModel)]="empdata.email"
                        placeholder="Enter email address">
                </div>
            </div>
            <div class="row col-md-12 m-t-20">
                <div class="col-md-2"> <label>
                        Phone Number
                    </label></div>
                <div class="col-md-4"> <input type="text" [(ngModel)]="empdata.phonenumber" placeholder="Phone Number">
                </div>
            </div>
            <div class="row col-md-12 m-t-20">
                <div class="col-md-2"> <label>
                        Address
                    </label></div>
                <div class="col-md-4"> <textarea type="email" [(ngModel)]="empdata.address"
                        placeholder="Address"></textarea></div>
            </div>

            <div>
                <button class="btn btn-outline-primary" type="button" mat-button (click)="addEmployees();">Add Employees</button>
                <button class="btn btn-outline-warning m-l-20" type="button" mat-button
                    (click)="clearEmployee();">clear</button>
                <button class="btn btn-outline-primary" *ngIf="false"  mat-button>Employee List</button>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

<div *ngIf="!showSummary" #second style="margin-top: 500px;">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form [formGroup]="registrationForm"  (ngSubmit)="addformEmployees()" >
            <div class="example-container">
                <div class="row col-md-12 m-t-20">
                    <div class="col-md-2"><label  for="name">Name</label></div>
                    <div class="col-md-4"> <input type="text" id="name" formControlName="name"
                            placeholder="Enter The Name">
                            Pending:{{registrationForm.get('name').pending}}<br/>
                            pristine:{{registrationForm.get('name').pristine}}<br/>
                            dirty:{{registrationForm.get('name').dirty}}<br/>
                            invalid:{{registrationForm.get('name').invalid}}<br/>
                        <div *ngIf="registrationForm.get('name').invalid && (registrationForm.get('name').dirty || registrationForm.get('name').touched)"
                            class="alert alert-danger">
                            <div *ngIf="registrationForm.get('name').errors.required">
                               <label> Name is required.</label>
                            </div>
                            <div *ngIf="registrationForm.get('name').errors.minlength">
                                Name cannot be more than 30 characters long.
                            </div>
                            <div *ngIf="registrationForm.get('name').errors.minlength">
                                Name must be at least 2 characters long.
                            </div>
                          
                        </div>
                    </div>
                </div>
            </div>
            <div class="row col-md-12 m-t-20">
                <div class="col-md-2"> <label >UserName</label></div>
                <div class="col-md-4"> <input type="text"  formControlName="username"
                        placeholder="Enter The User Name">
                </div>
                {{registrationForm.get('username').errors|json}}
            </div>
            <!-- <div class="row col-md-12 m-t-20">
                <div class="col-md-2"> <label>Age</label></div>
                <div class="col-md-4"> <input type="number" placeholder="Enter The Age">
                </div>
            </div>
            <div class="row col-md-12 m-t-20">
                <div class="col-md-2"> <label>
                        Email
                    </label></div>
                <div class="col-md-4"> <input type="email" 
                        placeholder="Enter email address">
                </div>
            </div>
            <div class="row col-md-12 m-t-20">
                <div class="col-md-2"> <label>
                        Phone Number
                    </label></div>
                <div class="col-md-4"> <input type="text"  placeholder="Phone Number">
                </div>
            </div>
            <div class="row col-md-12 m-t-20">
                <div class="col-md-2"> <label>
                        Address
                    </label></div>
                <div class="col-md-4"> <textarea type="email" 
                        placeholder="Address"></textarea></div>
            </div> -->

            <div>
                <button class="btn btn-outline-primary" type="submit" mat-button >Add
                    Employees</button>
                <button class="btn btn-outline-warning m-l-20" type="button" mat-button
                    (click)="clearEmployee();">clear</button>
                <button class="btn btn-outline-primary" *ngIf="false" mat-button>Employee List</button>
            </div>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>
<div *ngIf="dataSource.length" class="col-md-12">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 col-md-8">
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef> Address </th>
          <td mat-cell *matCellDef="let element"> {{element.address}} </td>
        </ng-container>
        <ng-container matColumnDef="age">
          <th mat-header-cell *matHeaderCellDef> Age </th>
          <td mat-cell *matCellDef="let element"> {{element.age}} </td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="phonenumber">
            <th mat-header-cell *matHeaderCellDef> Phone Number </th>
            <td mat-cell *matCellDef="let element"> {{element.phonenumber}} </td>
          </ng-container>
          <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef> username</th>
            <td mat-cell *matCellDef="let element"> {{element.username}} </td>
          </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>
<div *ngIf="!dataSource.length">
    No Records Available
</div>
<!-- <div *ngIf="showSummary">
    <div class="row col-md-12 m-t-20">
        <div class="col-md-4"><label>Name:{{empdata.name}}</label></div>
    </div>
    <div class="row col-md-12 m-t-20">
        <div class="col-md-4"> <label>UserName:{{empdata.username}}</label></div>
    </div>
    <div class="row col-md-12 m-t-20">
        <div class="col-md-4"> <label>Age:{{empdata.age}}</label></div>
    </div>
    <div class="row col-md-12 m-t-20">
        <div class="col-md-4"> <label>
                Email:{{empdata.email}}
            </label></div>
    </div>
    <div class="row col-md-12 m-t-20">
        <div class="col-md-4"> <label>
                Phone Number:{{empdata.phonenumber}}
            </label></div>
    </div>
    <div class="row col-md-12 m-t-20">
        <div class="col-md-4"> <label>
                Address:{{empdata.address}}
            </label></div>
    </div>
</div> -->
<!-- <div>
    <div [ngSwitch]="inpvalue">
        <p style='color:blue' *ngSwitchCase="1">You have selected M S Dhoni</p>
        <p style='color:blue' *ngSwitchCase="2">You have selected Sachin Tendulkar</p>
        <p style='color:blue' *ngSwitchCase="3">You have selected Satyaprakash Samantaray</p>
        <p style='color:red' *ngSwitchDefault>Sorry! Invalid selection....</p>
    </div>
</div>
<div class="col-md-2">
    <div *ngFor="let val of employees">
        <div (click)=clickEmployeeList(val)  [ngClass]="selectedEmployee==val.id?'selected':'pointer'" style="border: 1px solid blue;">
            {{val.name}}
        </div>
    </div>
    <div *ngIf="!employees.length">
        No Employee List
    </div>
    <button class="btn btn-outline-warning m-l-20" type="button" mat-button>Change Cursor</button>
</div>
<div appHighlight>
    {{birthday| date }}
</div>
<img [src]="imageURL|defaultimage:'../../assets/default-image.png'">
<img [src]="imageURL1|defaultimage"> -->