
<div class="col-md-12">
<button  color="primary" class="pull-right m-r-20" mat-button (click)="loadAllEmployees()">Load Employees</button>
<button  color="primary" class="pull-right m-r-20" mat-button (click)="addNewEmployee()">Add Employee</button>
</div>
<br/>
<div *ngIf="showEmployeeForm" class="col-md-12">
    <div class="example-container">
        <div class="row col-md-12 m-t-20">
            <div class="col-md-2"><label >Name</label></div>
            <div class="col-md-4"> <input type="text" [(ngModel)]="frmEmployee.employee_name" placeholder="Enter The Name"></div>
        </div>
        <div class="row col-md-12 m-t-20">
            <div class="col-md-2"> <label>username</label></div>
            <div class="col-md-4"> <input type="text" [(ngModel)]="frmEmployee.username"
                    placeholder="Enter The User Name">
            </div>
        </div>
        <div class="row col-md-12 m-t-20">
            <div class="col-md-2"> <label>Email Address</label></div>
            <div class="col-md-4"> <input type="email" [(ngModel)]="frmEmployee.email_address" placeholder="Enter The email address"></div>
        </div>
        <div class="row col-md-12 m-t-20">
            <div class="col-md-2"> <label>
                    Phone
                </label></div>
            <div class="col-md-4"> <input type="text" [(ngModel)]="frmEmployee.phone" placeholder="Phone Number">
            </div>
        </div>
        <div class="row col-md-12 m-t-20">
            <div class="col-md-2"> <label>
                    Gender
                </label></div>
            <div class="col-md-4">
                <mat-radio-group aria-label="Select an option" [(ngModel)]="frmEmployee.gender">
                    <mat-radio-button value="Male">Male</mat-radio-button>
                    <mat-radio-button value="Female">Female</mat-radio-button>
                  </mat-radio-group>
            </div>
        </div>
        <div class="row col-md-12 m-t-20">
            <div class="col-md-2"> <label>
                    Address
                </label></div>
            <div class="col-md-4"> 
              <textarea type="email" [(ngModel)]="frmEmployee.employee_address"
                    placeholder="Address"></textarea></div>
        </div>
        <div class="row col-md-12 m-t-20">
            <div class="col-md-2"> <label>
                City
                </label></div>
            <div class="col-md-4"> <textarea type="text" [(ngModel)]="frmEmployee.city"
                    placeholder="City"></textarea></div>
        </div>
        <div>
            <button class="btn btn-outline-primary" *ngIf="!frmEmployee.id" type="button" mat-button (click)="addEmployee();">Add Employees</button>
            <button class="btn btn-outline-primary" *ngIf="frmEmployee.id" type="button" mat-button (click)="updateEmployee();">Update Employees</button>
            <button class="btn btn-outline-warning m-l-20" type="button" mat-button
                (click)="clearEmployeeFrm();">clear</button>
            <!-- <button class="btn btn-outline-primary" *ngIf="false"  mat-button>Employee List</button> -->
        </div>
    </div>
</div>
<div *ngIf="showEmployeeList" class="col-md-12 row">
    <div class="col-md-1">
    </div>
    <div class="col-md-8">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 ">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> S No </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            <ng-container matColumnDef="employee_name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.employee_name}} </td>
            </ng-container>
            <ng-container matColumnDef="username">
              <th mat-header-cell *matHeaderCellDef> UserName </th>
              <td mat-cell *matCellDef="let element"> {{element.username}} </td>
            </ng-container>
            <ng-container matColumnDef="email_address">
              <th mat-header-cell *matHeaderCellDef> Email Address </th>
              <td mat-cell *matCellDef="let element"> {{element.email_address}} </td>
            </ng-container>
            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef> Phone</th>
                <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
              </ng-container>
              <ng-container matColumnDef="gender">
                <th mat-header-cell *matHeaderCellDef> Gender</th>
                <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
              </ng-container>
              <ng-container matColumnDef="employee_address">
                <th mat-header-cell *matHeaderCellDef> Address</th>
                <td mat-cell *matCellDef="let element"> {{element.employee_address}} </td>
              </ng-container>
              <ng-container matColumnDef="city">
                <th mat-header-cell *matHeaderCellDef> City</th>
                <td mat-cell *matCellDef="let element"> {{element.city}} </td>
              </ng-container>
              <ng-container matColumnDef="is_active">
                <th mat-header-cell *matHeaderCellDef> Active</th>
                <td mat-cell *matCellDef="let element"> {{element.is_active}} </td>
              </ng-container>
              <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element"> 
                <button mat-button  color="primary" (click)="editEmployee(element)" >Edit</button>  
                </td>
              </ng-container>
              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element"> 
                <button mat-button  color="warn" (click)="deleteEmployee(element)" >Delete</button>  
                </td>
              </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </div>
    <div class="col-md-3">
    </div>
   
</div>
<!-- 
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">Date of birth</label>
        <div class="input-group">
          <div class="input-group-append">
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" >confirm</button>
  </div>
</ng-template> -->