<!-- <input type="button" (click)="getValueFromFooter()" value="Get Value From Footer"> -->
<!-- <app-header [parentMessage]="message"></app-header> -->
<app-header></app-header>
<div style="height:84.8vh;overflow-y: auto;">
<router-outlet></router-outlet>
</div>
<!-- <app-footer (messageEvent)="receiveMessage($event)"></app-footer> -->
<app-footer></app-footer>
